{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Prospect 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='http://fonts.googleapis.com/css?family=Englebert|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">Profile</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/ " accesskey="1" title="">Homepage</a></li>
		</ul>
	</div>
</div>
<div id="wrapper" class="container">
	<div id="page">
		<div id="content"> <a href="#" class="image-style"><img src="{% static 'img/man.png' %}" width="300" height="250" alt=""></a>
			<h2>Name : {{name}}</h2>
					<p>Email ID &emsp; &emsp; &emsp;: {{email}} </p> 
					<p>Contact Number : {{phone}} </p> 
					<p>Address &emsp; &emsp; &emsp;: {{address}} </p> 

		<button onclick="document.getElementById('id04').style.display='block'" class="link-style1">Search Maid</button>

    <div id="id04" class="w3-modal">
  <div class="w3-card-8 w3-black" style="width:50%">

    <div class="w3-container w3-center">
      <div class="w3-section">
        <form method="POST" action="/search/" > {% csrf_token %}
        <h3>GENDER</h3><br/>
           <input type="radio" name="gender" value="male"> MALE
           <input type="radio" name="gender" value="female"> FEMALE
   
         <h3>AGE</h3><br/>
           <select name="age">
             <option value="20 - 30" selected>20-30</option>
             <option value="30 - 40">30-40</option>
             <option value="40 - 50">40-50</option>
             <option value="50 - 60">50-60</option>
           </select>
       
         <h3>WORK FIELD</h3><br/>
           <select name="field">
             <option value="cooking" selected>cooking</option>
             <option value="cleaning">cleaning</option>
             <option value="baby sitting">baby sitting</option>
             <option value="elderly care">elderly care</option>
             <option value="pregnancy care">pregnancy care</option>
           </select>

          <h3>WORK LOCATION</h3><br/>
           <select name="distcode">
             <option value="TV" selected>Thiruvananthapuram</option>
             <option value="ER">Ernakulam</option>
             <option value="KZ">Kozhikode</option>
             <option value="WA">Wayanad</option>
             <option value="KS">Kasargod</option>
             <option value="KN">Kannur</option>
             <option value="KL">Kollam</option>
             <option value="PL">Palakad</option>
             <option value="PT">Pathanamthitta</option>
             <option value="MA">Malappuram</option>
             <option value="ID">Idukki</option>
             <option value="KT">Kottayam</option>
             <option value="AL">Alappuzha</option>
             <option value="TS">Thrissur</option>
             </select>
            

          <h3>WORK TYPE</h3><br/>
            <select name="worktype">
               <option value="full time" selected>full time</option>
               <option value="part time">part time</option>
            </select><br/>
   
          <h3>WORK DURATION</h3><br/>
            duration:  <input type="text" name="hours" />
            <select name="dropdown">
               <option value="hours" selected>hours</option>
               <option value="weeks">weeks</option>
               <option value="months">months</option>
               <option value="years">years</option>
             </select>

         <h3>MAX BUDGET</h3><br/>
            amount(Rs):  <input type="text" name="amount" /><br/><br/>
            
          <button class="w3-btn w3-red" type="SUBMIT">SUBMIT</button>

        </form>  
      </div>
    </div>
   
    
    </div>
    </div>

		</div>

		

	<!-- 	<div id="sidebar">
			<div id="sbox1">
				<h2>Shortlisted</h2>
				<ul class="list-style1">
					<li class="first">
						<h3>Maid1</h3>
						<p><a href="#">Get Details</a></p>
					</li>
					<li>
						<h3>Maid2</h3>
						<p><a href="#">Get Details</a></p>
					</li>
					<li>
						<h3>Maid3</h3>
						<p><a href="#">Get Details</a></p>
					</li>
				</ul>
			</div>
			<div id="sbox2">
				<h2>Previous History</h2>
					<ul class="list-style1">
						<li class="first">
						<h3>Maid1</h3>
						<p><a href="#">Get Details</a></p>
					</li>
					<li>
						<h3>Maid2</h3>
						<p><a href="#">Get Details</a></p>
					</li>
					<li>
						<h3>Maid3</h3>
						<p><a href="#">Get Details</a></p>
					</li>
					</ul>
			</div>
			</div> -->
		</div>
	</div>

<script>
// Get the modal
var modal = document.getElementById('id04');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>




</body>
</html>
