{% load static %}
<html>
<title>Search result</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script language="javascript">



</script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/mac.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body bgcolor="black">
<div style="color:#ffffff" class="bgimg" id="navbar" align="center">
    <div  id="part2" >&emsp;<button type="button" style="margin-left:48%;margin-right:auto;display:block;margin-top:auto;margin-bottom:0%" onclick="location.href='/ '">HOME</button>
 </div>              
</div> 
<div class="w3-container w3-padding-128" id="team">
  <h3 class="w3-center w3-text-Aqua">Matching Results</h3>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
   {% for item in usr %}  
     <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2 w3-Aqua">
        <!-- <img src="/w3images/team1.jpg" alt="image" style="width:100%"> -->
        <div class="w3-container">
        <form name="form1" method="POST" action="/results/" > {% csrf_token %}
          <h3>{{item.name}}</h3>
          <p>
          Username:  {{item.username}}</p>
          <input type="text" name="name" value="{{item.username}}" hidden> 
          <p><button type="submit" class="w3-button w3-block"><i class="fa fa-envelope"></i> View Profile</button></p>
        </form>
        </div>
      </div>
    </div>
   {% endfor %}

   
  </div>
</div>
</body>
</html>
